* {
	box-sizing: border-box;
}

.formblock {
	background-color: rgba(117, 155, 155, 0.59);
	display: inline-flex;
	border-radius: 15px;
	color: #3b6969;
	box-shadow: 15px 10px 20px rgba(40, 64, 64, 0.62);
	outline: none;
}

form {
	padding: 15px;
}

input {
	margin-bottom: 15px;
	box-shadow: -1px 1px 10px 3px rgba(4, 141, 214, 0.44);
	border-radius: 5px;
}

input:hover {
	transform: scale(1.1);
	box-shadow: 2px 5px 5px 3px rgba(4, 141, 214, 0.44);
	border-radius: 0px;
	transition: all 0.5s ease;
}

label {
	display: block;
	color: #3b6969;
	padding-top: 5px;
}

.car {
	color: #3b6969;
}

input[type="text"] {
	min-width: 230px;
}

input[type="email"] {
	min-width: 230px;
}

input[type="date"] {
	min-width: 230px;
	color: #3b6969;
}

textarea {
	box-shadow: -1px 1px 10px 3px rgba(4, 141, 214, 0.44);
	border-radius: 5px;
}

textarea:hover {
	transform: scale(1.1);
	box-shadow: 2px 5px 5px 3px rgba(4, 141, 214, 0.44);
	border-radius: 0px;
	transition: all 0.5s ease;
}

.checkbox span {
	display: inline-block;
	border: 1px solid rgba(84, 165, 165, 0.51);
	width: 15px;
	height: 15px;
	color: #3b6969;
	box-shadow: -1px 1px 10px 3px rgba(4, 141, 214, 0.44);
	border-radius: 3px;
	vertical-align: middle;
	margin-top: -2px;
	margin-left: 5px;
}

.checkbox span i {
	position: relative;
	left: -2px;
	top: -4px;
	transform: scale(2);
	opacity: 0;
	transition: all 0.5s ease;
}

.checkbox span:hover {
	transform: scale(1.3);
	box-shadow: 2px 5px 5px 3px rgba(4, 141, 214, 0.44);
	border-radius: 0px;
}

.checkbox input:checked+span i,
.radio input:checked+span i {
	transform: scale(1);
	opacity: 1;
}

.checkbox input {
	display: none;
}

.radio span {
	display: inline-block;
	border: 1px solid rgba(84, 165, 165, 0.51);
	width: 15px;
	height: 15px;
	color: #3b6969;
	box-shadow: -1px 1px 10px 3px rgba(4, 141, 214, 0.44);
	border-radius: 50px;
	vertical-align: middle;
	margin-top: -2px;
	margin-left: 5px;
}

.radio span i {
	position: relative;
	top: -2px;
	transform: scale(2);
	opacity: 0;
	transition: all 0.5s ease;
}

.radio span:hover {
	transform: scale(1.3);
	box-shadow: 2px 5px 5px 3px rgba(4, 141, 214, 0.44);
	border-radius: 50px;
}

.radio input:checked+span i,
.radio input:checked+span i {
	transform: scale(1);
	opacity: 1;
}

.radio input {
	display: none;
}