* {
	box-sizing: border-box;
}

.formblock {
	background-color: rgba(117, 155, 155, 0.59);
	display: inline-flex;
	border-radius: 15px;
	color: #3b6969;
}

form {
	padding: 15px;
}

input {
	margin-bottom: 15px;
}

label {
	display: block;
	color: #3b6969
}

.car {
	color: #3b6969;
}

input[type="text"] {
	min-width: 230px;
}

input[type="email"] {
	min-width: 230px;
}
input[type="date"] {
	min-width: 230px;
	color: #3b6969;
}